.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	padding: 7px;
}

/* .dialogsItems {} */

.dialogPerson {
	color: #A64800;
	padding-bottom: 5px;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	outline: 1px solid #A64800;

}

.active {
	font-weight: 700;
}

/* .messages {} */

/* .massage {} */
.person {
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5px;
}

.messagesFlex {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-top: 15px;
}

.messagesFlex:nth-child(2n) {

	flex-direction: row-reverse;

}

.messageAvatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	outline: 1px solid #A64800;

}